<!DOCTYPE html>
<html lang="sv"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layouts/layouttemplate"
      data-theme="light">


<th:block layout:fragment="extraHead">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@event-calendar/build@1.5.0/event-calendar.min.css">
    <script src="https://cdn.jsdelivr.net/npm/@event-calendar/build@1.5.0/event-calendar.min.js"></script>
    <script src="/js/modal.js"></script>

</th:block>

<!--    <header>-->
<!--        <div class="content">-->
<!--            <div class="btn-left">-->
<!--                <button class="btn btn-blue">-->
<!--                    <span class="fas fa-plus mr-2"></span>-->
<!--                    New Task-->
<!--                </button>-->
<!--            </div>-->
<!--            <div class="btn-right">-->
<!--                <button class="btn btn-sec left-radius">Share</button>-->
<!--                <button class="btn btn-sec right-radius">Export</button>-->
<!--            </div>-->
<!--        </div>-->
<!--    </header>    -->
<div layout:fragment="mainContent">

    <div class="row-box">
        <div class="col-boxes-1">
            <div class="col-table">
                <div class="table-section">
                    <div class="header-table">
                        <h2>Hundar att adoptera</h2>
                        <!--                        <a href="#">see all</a>-->
                    </div>

                </div>

            </div>

        </div>
    </div>

    <form method="GET">
        Search:
        <input type="text" name="q" value="" />
        <!-- <input type="hidden" name="sortCol"  value="<?php echo $sortCol; ?>" />       -->
    </form>
    <div class="cards dogcards">
        <div class="card dogcard" th:each="dog: ${dogs}">
            <div class="card-top-info">
                <h3 th:text="${dog.getName()}"></h3>
                <img th:src="${dog.getImage()}" class="animal-img">
            </div>
            <p>

            <ul style="text-align: center">
                <li th:text="${dog.getBreed()}"></li>
                <li th:text="${dog.getAge()}"></li>
                <li th:text="${dog.getPrice()}"> kr</li>
            </ul>
            </p>
        </div>
    </div>

</div>






</html>